@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

.no-print {
  /* Used to hide elements in the dashboard that should not appear when printed via dedicated print window */
}

.print-only {
  display: none !important;
}

.print-break-avoid {
  break-inside: avoid;
}
